<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Panadería</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header th:fragment="header">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/menu}"> <img
						src="img/bread.png" width="80"></a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav text-center">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/listarUsuarios}"> <i class="fas fa-user"></i>
									Usuarios
							</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/listarClientes}"> <i class="fas fa-users"></i>
									Clientes
							</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/listarProveedores}"> <i
									class="fas fa-truck-moving"></i> Proveedores
							</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/listarProductos}"> <i class="fas fa-box-open"></i>
									Productos
							</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/listarVentas}"> <i class="fas fa-money-bill"></i>
									Ventas
							</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/listarReportes}"> <i class="fas fa-book"></i>
									Reportes
							</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="opciones dropdown-toggle" type="button"
							id="dropdownMenuButton1" data-bs-toggle="dropdown"
							aria-expanded="false">Usuario ingresado</button>
						<ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#">Usuario</a></li>
							<li><a class="dropdown-item" href="#">Correo</a></li>
							<li class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/">Salir</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<!-- Contenido -->
	<div class="container"></div>

	<!-- Pie de Página -->
	<footer th:fragment="footer">
		<div class="container">
			<p>Copyright E4G27 &copy; -2021</p>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/62ea397d3a.js"></script>
</body>
</html>